<% if current_user.role == 'standard' %>
  <%= form_tag charges_path do %>
    <br>
    <h4>Sign up for a premium Blocipedia Account.</h4>
    <small> Amount: $15.00</small><br><br>
    <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount="<%= @stripe_btn_data[:amount] %>" data-description="<%= @stripe_btn_data[:description] %>" ></script>
  <% end %>
<% elsif current_user.role == 'premium' %>
  <br>
  <h4>Downgrade to standard account</h4>
  <%= link_to "Downgrade", new_charge_path, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to downgrade your account? Downgrading will result in your private wikis becoming public.' } %>
<% end %>
